/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.conteyner{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.sign{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.sign__paragrf{
    font-size: 12px;
    font-weight: 400;
    color: white;
}


/* heager */
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}


.header__nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav--link{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}


/* box */
.box{
    width: 100%;
    height: 810px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-image: url("image/Rectangle.png");
}

.box__text{
    text-align: center;
}

.box__text--text{
    font-size: 44px;
    font-weight: 400;
    color: #000000;
}

.box__text--paragrf{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.box__button--btn{
    padding: 10px 45px;
    border-radius: 500px;
    border: none;
    background-color: #FF4A32;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

.brend{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    margin-bottom: 30px;
}

/* hero */
.hero{
    margin-bottom: 20px;
}


.hero__text{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.hero__paragrf{
    margin: auto;
    text-align: center;
    width: 685px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero__line{
    width: 70px;
    height: 2px;
    background-color: #CFCFCF;
    margin: auto;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


.hero__image{
    width: 580px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/Rectangle\ \(6\).png");
}


.hero__imagee{
    width: 580px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/Rectangle\ \(7\).png");
}



.hero__image--paragrf{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 14px;
}

.hero__image--paragrff{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* section */
.section{
    width: 100%;
    height: 736px;
    background-image: url("image/Rectangle\ \(8\).png");
    padding-top: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.section__box{
    text-align: center;
}

.section__box--paragrf{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

.section__box--text{
    font-size: 45px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}


.section__box--paragrff{
    width: 488px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
}

.section__box--btn{
    padding: 10px 60px;
    background-color: #FF4A32;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}


/* section2 */
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.section2__text{
    font-size: 400;
    font-weight: 32px;
}

.section2__paragrf{
    width: 339px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section2__btn{
    padding: 7px 16px;
    background-color: #FF4A32;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 400;
}


/* images */
.images{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


.images__box{
    width: 480px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("image/Rectangle\ \(11\).png");
}

.box22{
    background-image: url("image/Rectangle\ \(12\).png");
}

.box3{
    background-image: url("image/Rectangle\ \(13\).png");
}

.images__box--paragrf{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.images__box--paragrff{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

/* cards */
.cards{
    width: 100%;
    height: 300px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards__card{
    text-align: center;
}

.cards__card--text{
    font-size: 31px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards__card--paragrf{
    width: 287px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.footer{
    width: 100%;
    height: 329px;
    display: flex;
    padding-top: 55px;
    background-color: #F7F7F7;
    justify-content: center;
    gap: 200px;
    margin-bottom: 20px;
}


.footer__box2--text{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
}

.footer__ul--li{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
}

.footer__box2--paragrf{
    width: 367px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}

.footer__box2--paragrff{
    width: 206px;
    font-size: 13px;
    font-weight: 400;
}