/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.conteyner{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.sign{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.sign__paragrf{
    font-size: 12px;
    font-weight: 400;
    color: white;
}


/* heager */
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}


.header__nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav--link{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}


/* box */
.box{
    width: 100%;
    height: 810px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-image: url("image/Rectangle.png");
}

.box__text{
    text-align: center;
}

.box__text--text{
    font-size: 44px;
    font-weight: 400;
    color: #000000;
}

.box__text--paragrf{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.box__button--btn{
    padding: 10px 45px;
    border-radius: 500px;
    border: none;
    background-color: #FF4A32;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

.brend{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    margin-bottom: 30px;
}

/* hero */
.hero{
    margin-bottom: 20px;
}


.hero__text{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.hero__paragrf{
    margin: auto;
    text-align: center;
    width: 685px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero__line{
    width: 70px;
    height: 2px;
    background-color: #CFCFCF;
    margin: auto;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


.hero__image{
    width: 580px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/Rectangle\ \(6\).png");
}


.hero__imagee{
    width: 580px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/Rectangle\ \(7\).png");
}



.hero__image--paragrf{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 14px;
}

.hero__image--paragrff{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
}